
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #a87fbd;
    background: -webkit-linear-gradient(to right, #a87fbd, #E0EAFC);
    background: linear-gradient(to right, #e0d4e7, #a87fbd);
}
.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background:hsla(283, 26%, 82%, 0.6);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.0rem 7%;
    height: 80px;
}
.header .logo {
    font-weight: bolder;
    color: #624c5c;
    text-decoration: none;
    font-size: 2.0rem;
    
    font-family: 'PT Sans Caption', sans-serif;
}


.header .logo span {
    color:#3c3039;
    text-decoration: underline;
    font-size: 2.5rem;
    font-family: 'PT Sans Caption', sans-serif;

}


.nav_links{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.nav_links ul{
    list-style-type: none; /* Вимкнути маркери списку */
    padding: 0; 

    justify-content: center;
}
.nav_links li{
    display:inline-block;
    padding: 0px 20 px;
    margin-right: 50px;
}
.nav_links li a,
.main_menu li a{
    display: contents;
    color: #773865;
    font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 10px 20px; 
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover,
.main_menu li a:hover {
    color: #5a254d; 
    text-shadow: 2px 2px 4px rgba(51, 40, 47, 0.5); 
}


.nav_links li a:active,
.main_menu li a:active {
    color: #3a1230; 
    transform: scale(0.98);
}

.nav_links li .active{

    text-decoration: underline;
    color: #3a1230;

}
.main_menu {
    text-align: center;
}

.main_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main_menu li {
    display: inline-block;
    margin-right: 20px; 
}

.main_menu li:last-child {
    margin-right: 0; /* видаляємо відступ у останньому елементі */
}
.main_menu li a:hover{
    color: #773865;
}


.list{

    z-index: 10000;
    background:hsla(283, 26%, 82%, 0.6);
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 50px;
    padding-right: 50px;
    height: 80px;
    list-style-type: none;
}
.btn_btn_primary{
    background-color: #803d93; 
    color: rgb(230, 229, 229); 
    text-align: center; 
    margin-bottom: 20px;
    text-decoration: none; 
    display: inline-block; 
    font-family: 'PT Sans Caption', sans-serif;
    border: none;
    margin-top: 15px;
    padding: 10px 50px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;    
}

.btn_btn_primary:hover {
    background-color: #571e67; 
}
.btn_btn_primary:active {
    background-color: #3e1549; 
    transform: scale(0.98); 
}

.btn_btn_primary_my_2{
    background-color: #803d93; 
    color: rgb(230, 229, 229); 
    text-align: center; 
    margin-left: 40px;
    margin-bottom: 20px;
    text-decoration: none; 
    display: inline-block; 
    font-family: 'PT Sans Caption', sans-serif;
    border: none;
    padding: 20px 20px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 12px; 
    cursor: pointer; 
}
.btn_btn_primary_my_2:hover {
    background-color: #472a57; 
}
.btn_btn_primary_my_2:active {
    background-color: #351b3d; /* Темніший колір при натисканні */
    transform: scale(0.98); /* Легке зменшення кнопки для ефекту натискання */
}
.btn_btn_primary_mt_3{
    background-color: #803d93; 
    color: rgb(230, 229, 229); 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-family: 'PT Sans Caption', sans-serif;
    border: none;
    padding: 5px 20px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.btn_btn_primary_mt_3:hover {
    background-color: #472a57; 
}
.btn_btn_primary_mt_3:active {
    background-color: #351b3d; /* Темніший колір при натисканні */
    transform: scale(0.98); /* Легке зменшення кнопки для ефекту натискання */
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  

  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th,
  #myTable td {
    width: 100%;
    text-align: left;
    padding: 5px;
}
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
    display: flex;
    height: 80px;
    align-items: center;
    flex-direction: row;
} 
  #myTable tr.header,
  #myTable tr:hover {
  
    background-color: #f1f1f1;
  }
  
  @media (max-width:480px) {
    .container {
      width: 400PX;
    }
  
    #myTable {
      font-size: 12px;
    }
  }